{% extends 'base.html' %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}`

<div class="pagetitle">
    <h1>About Us</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">About</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <div class="col-12">
            <div class="card about-card">
                <div class="card-body">
                    <h5 class="card-title">AIEcom Solutions</h5>
                    <p>
                        At AIEcom Solutions, we are a team of expert AI professionals dedicated to revolutionizing the e-commerce industry. Our mission is to empower e-commerce businesses with cutting-edge AI solutions that enhance efficiency, drive growth, and improve customer satisfaction. With a deep understanding of AI and e-commerce, we develop innovative technologies tailored to meet the unique needs of online retailers, ensuring they stay ahead in a competitive market.
                    </p>
                    <p>
Our services include intelligent product recommendations, advanced customer analytics, dynamic pricing strategies, and personalized marketing solutions. By leveraging the power of AI, we help e-commerce businesses optimize their operations, increase sales, and deliver exceptional shopping experiences to their customers.
                    </p>
                    <p>
Join us at AIEcom Solutions and experience the future of e-commerce with AI-driven solutions designed to transform your business.
                    </p>    
                    <h5 class="card-title">Team</h5>
                    <div class="team-container">
                        <div class="team-member">
                            <img src="static/img/profile-img-3.jpg" alt="Team Member 1" class="team-photo">
                            <div class="member-name">Mohammed</div>
                        </div>
                        <div class="team-member">
                            <img src="static/img/profile-img-2.jpg" alt="Team Member 2" class="team-photo">
                            <div class="member-name">Mathieu</div>
                        </div>
                        <div class="team-member">
                            <img src="static/img/profile-img.jpg" alt="Team Member 3" class="team-photo">
                            <div class="member-name">Adib</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}


