<!-- News & Updates Traffic -->
<div class="card">
    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
        </ul>
    </div>

    <div class="card-body pb-0">
        <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

        <div class="news">
            <div class="post-item clearfix">
                <img src="static/img/house_for_sale_1.jpeg" alt="">
                <h4><a href="#">House in Los Angeles</a></h4>
                <p>State 128 Hwy, Napa, CA 94558</p>
            </div>

            <div class="post-item clearfix">
                <img src="static/img/house_for_sale_2.jpeg" alt="">
                <h4><a href="#">House in Los Angeles</a></h4>
                <p>3 bed 3 bath 1,900sqft 1,900 square...</p>
            </div>

            <div class="post-item clearfix">
                <img src="static/img/house_for_sale_3.jpeg" alt="">
                <h4><a href="#">House in San Fransisco</a></h4>
                <p>$2,150,000 Camino Del Monte 1 Se Torres, Carmel, CA 93921</p>
            </div>

            <div class="post-item clearfix">
                <img src="static/img/house_for_sale_4.jpeg" alt="">
                <h4><a href="#">House in San Sacramento</a></h4>
                <p>State 129 Hwy, Napa, CA 94558</p>
            </div>

        </div><!-- End sidebar recent posts-->

    </div>
</div><!-- End News & Updates -->